.THE_IMAGE{
    display: flex;
    margin: 8px 8px;
    object-fit: fill;
} 

.lead{
    text-align: justify;
}
.card{
    /* width: ; */
    max-width: 100%;
    height: auto;
    
    /* padding-bottom: 10px; */
    /* margin: auto; */
}
.main{
    width: 75%;
    float: none;
    justify-content: center;
}
.col{
    width: 100%;
    
    padding-bottom: 10px;
    flex: 0 0 auto;
}
.row{
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) /2);
    padding-left: calc(var(--bs-gutter-x) /2);
    margin-top: var(--bs-gutter-y);
}

/* main {
    filter:invert(20%);
} */



/* mobile devices */
@media screen and (max-width: 480px){
    .THE_IMAGE{
        object-fit: cover;
        
        margin-left: auto;
        margin-right: auto;
    }
    .modal-xl{
        max-width: 95%  !important;
        
    }

}

/* iPads, Tablets */
@media screen and (min-width: 481px) and  (max-width: 768px){
    .THE_IMAGE{
        object-fit: cover;
        
        margin-left: auto;
        margin-right: auto;
    }
    .modal-xl{
        max-width: 93%  !important;
    }
}


/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px){
    .THE_IMAGE{
        object-fit: cover;
        
        margin-left: auto;
        margin-right: auto;
    }
    .modal-xl{
        max-width: 93%  !important;
    }
}


/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px){
    .THE_IMAGE{
        object-fit: cover;
        
    }
    .modal-xl{
        max-width: 93%  !important;
    }
}


/* Extra large screens, TV */
@media screen and (min-width: 1201px){
    .THE_IMAGE{
        object-fit: cover;
        
    }

    .modal-dialog{
        max-width: 93%  !important;
        height:  50% !important;
    }
}