<!-- <ul *ngFor="let image of images">
  <li>  {{ image.id}}</li> 
  <img src="{{image.urls.small}}" alt="">
</ul> -->
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example using Unsplash API</h1>
      <p class="lead text-muted">
        Tilde keffiyeh whatever hot chicken subway tile id mlkshk church-key
        single-origin coffee est health goth williamsburg venmo cred. Unicorn
        gentrify vexillologist eu.
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">
          Click me to invert colors!
        </a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </div>
</section>
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let image of images">
          <div class="col">
            <div class="card shadow-sm">
              <picture class="bd-placeholder-img card-img-top">
                <!-- random images below this tag! 
                                |
                                |
                                V
                -->
                <a
                  class="myCustomLink"
                  href=""
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="viewPhoto(image.id)"
                >
                  <img
                    class="THE_IMAGE"
                    src="{{ image.urls.thumb }}"
                    alt="random photos from unsplash"
                    width="100%"
                    height="225"
                  />
                </a>
              </picture>
              <div class="card-body">
                <p class="card-text">{{ image.alt_description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      (click)="viewPhoto(image.id)"
                    >
                      view photo
                    </button>
                  </div>
                  <!--<small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <app-enlarge-photo [myImage]="myImage" *ngIf="ActivateViewPhoto">
        </app-enlarge-photo>
        <!-- <app-enlarge-photo [img] = "img" *ngIf="ActivateViewPhoto"> </app-enlarge-photo> -->
      </div>
    </div>
  </div>
</div>
