<!-- <ul *ngFor="let image of images">
  <li>  {{ image.id}}</li> 
  <img src="{{image.urls.small}}" alt="">
</ul> -->
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example</h1>
      <p class="lead text-muted">
        Tilde keffiyeh whatever hot chicken subway tile id mlkshk church-key
        single-origin coffee est health goth williamsburg venmo cred. Unicorn
        gentrify vexillologist eu. Squid franzen blue bottle kale chips freegan,
        iPhone chillwave occupy tousled. Tempor shoreditch enamel pin fugiat
        YOLO irony. Listicle chambray proident aliquip keytar YOLO est
        lumbersexual laborum slow-carb 90's photo booth vexillologist unicorn.
        Chicharrones elit intelligentsia banjo quinoa green juice pok pok ramps
        tofu meh.
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </div>
</section>
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let image of images">
          <div class="col">
            <div class="card shadow-sm">
              <picture class="bd-placeholder-img card-img-top">
                <!-- random images below this tag! 
                                |
                                |
                                V
                -->
                <img
                  class="THE_IMAGE"
                  src="{{ image.urls.small }}"
                  alt="random photos from unsplash"
                  width="100%"
                  height="225"
                />
              </picture>
              <div class="card-body">
                <p class="card-text">{{ image.alt_description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      View
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Edit
                    </button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
