.pic-container{
    align-self: center;
}

/* mobile devices */
@media screen and (max-width: 480px){
    .card-body{
        
        background-color: red;
    }
}
/* iPads, Tablets */
@media screen and (min-width: 481px) and  (max-width: 768px){
    .card-body{
        background-color: orange;
    }
}
/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px){
    .card-body{
        background-color: green;
    }
}
/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px){
    .card-body{
        background-color: maroon;
    }
}
/* Extra large screens, TV */
@media screen and (min-width: 1201px){
    .card-body{
        background-color:lavender;
    }
}