/* main */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

/* hero photo */
.hero_photo_container {
  grid-area: heroPhoto;
  grid-column-start: 1;
  grid-column-end : 2;

  display: flex;
  justify-content: center;
  align-items: center;
}



/* zoomed when clicked */
input[type="checkbox"] {
  display: none;
}

.hero_photo_container img {
  transition: transform 0.5s ease;
  cursor: zoom-in;
  

  /* -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease; */
}

input[type="checkbox"]:checked ~ label > img {
  transform: scale(2);
  margin: 200px;
  box-shadow: 0px 0px 20px 100% #000000;
  cursor: zoom-out;
  
}
input[type="checkbox"]:checked ~ div > img {
  backdrop-filter: blur(20px);
}

.hero_photo_caption {
}

.spacing {
  padding: 1vw;
}

.separate {

}

/* user settings */

.user_details_camera_settings_location_container {
  grid-area: userAndLocationSettings;
  grid-column-start: 2;
  grid-column-end: 3;

  background-color: #808080;


}

/* text */
.hero_photo_label,
.typography_settings,
.link_typography {
  color: #f8f9fa;
}

/* links */
a:link {
  color: #f8f9fa;
  text-decoration: none;
}
a:visited {
  color: #f8f9fa;
  text-decoration: none;
}

a:hover {
  color: #adb5bd;
  text-decoration: underline;
}

a:active {
  color: #adb5bd;
  text-decoration: underline;
}

/* media screen adjustments below here ! */
/*           |                          */
/*           |                         */
/*           |                        */
/*           V                       */

/* mobile devices */
@media screen and (max-width: 480px) {
  /* PARENT CONTAINERS */
  .container {
    max-width: 80vw;
    display: block !important;
  }
  .user_details_camera_settings_location_container {
    display: block !important;
  }
  .thumb_photos_container {
    max-width: inherit;
    display: none;
  }

  /* CHILD CONTAINERS */

  .user_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    display: inline !important;

  }
  .camera_location_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;

    display: inline !important;
  }

  .links {
  }

  .instagram {
    margin: 1vw;
  }

  .photo_link {
    margin: 1vw;
  }
  .user_link {
    margin: 1vw;
  }
  .portfolio_link{
    margin: 1vw;
  }

  /* HERO PHOTO CONTAINER AND THE ACTUAL HERO PHOTO */

  #enlargedImage {
    max-width: 80%;
    
    /* display: block;
    margin-left: auto;
    margin-right: auto; */

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* text */
  .hero_photo_label,
  .typography_settings {
    font-size: 4vw;
  }
  .link_typography {
    font-size: 4vw;
  }
  .user_name {
    font-size: 7vw;
  }

/* zoomed when clicked */
input[type="checkbox"] {
    display: none !important;
  }
  
  .hero_photo img {
    transition: none !important;
    cursor:initial !important;
  
    /* -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease; */
  }
  
  input[type="checkbox"]:checked ~ label > img {
    transform: none !important;
    margin: 0px;
    
    transition: none !important;
    cursor:initial !important;
  }
}



/* iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* PARENT CONTAINERS */
  .container {
    max-width: 80vw;
    display: block !important;
    
  }
  .user_details_camera_settings_location_container {
    display: block !important;
  }
  .thumb_photos_container {
    max-width: inherit;
    display: none;
  }

  /* CHILD CONTAINERS */

  .user_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;

    display: inline !important;
    /* guide only */

  }
  .camera_location_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;

    display: inline !important;
    /* guide only */

  }

  .links {
  }

  .instagram {
    margin: 1%;
  }

  .photo_link {
    margin: 1%;
  }
  .user_link {
    margin: 1%;
  }
  .portfolio_link{
    margin: 1%;
  }

  /* HERO PHOTO CONTAINER AND THE ACTUAL HERO PHOTO */
  
  #enlargedImage {
    max-width: 80%;
  }

  /* text */
  .hero_photo_label,
  .typography_settings {
    font-size: 3vw;
  }
  .link_typography {
    font-size: 3vw;
  }
  .user_name {
    font-size: 5vw;
  }
  
/* zoomed when clicked */
input[type="checkbox"] {
    display: none !important;
  }
  
  .hero_photo img {
    transition: none !important;
    cursor:initial !important;

  }
  
  input[type="checkbox"]:checked ~ label > img {
    transform: none !important;
    margin: 0px;
    
    transition: none !important;
    cursor:initial !important;
  }
}



/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* PARENT CONTAINERS */
  .container {
    max-width: 85vw;
  }
  .user_details_camera_settings_location_container {
    max-width: inherit;
    resize: none;
  }
  .thumb_photos_container {
    max-width: inherit;
  }

  /* CHILD CONTAINERS */

  .user_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    /* guide only */

  }
  .camera_location_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    /* guide only */

  }

  

  .links {
  }

  .instagram {
    margin: 1%;
  }
  .photo_link {
    margin: 1%;
  }
  .user_link {
    margin: 1%;
  }
  .portfolio_link{
    margin: 1%;
  }

  /* HERO PHOTO CONTAINER AND THE ACTUAL HERO PHOTO */
  #enlargedImage {
    max-width: 80%;
  }

  /* text */
  .hero_photo_label,
  .typography_settings {
    font-size: 1.5vw;
  }
  .link_typography {
    font-size: 1.5vw;
  }
  .user_name {
    font-size: 3.5vw;
  }
}

/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* PARENT CONTAINERS */
  .container {
    max-width: 85vw;
  }
  .user_details_camera_settings_location_container {
    max-width: inherit;
    resize: none;
  }
  .thumb_photos_container {
    max-width: inherit;
  }

  /* CHILD CONTAINERS */

  .user_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    /* guide only */

  }
  .camera_location_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    /* guide only */

  }

  .user_name {
    font-size: 2vw;
  }

  .links {
  }

  .instagram {
    margin: 2%;
  }

  .photo_link {
    margin: 2%;
  }
  .user_link {
    margin: 2%;
  }
  .portfolio_link{
    margin: 2%;
  }


  /* HERO PHOTO CONTAINER AND THE ACTUAL HERO PHOTO */
  #enlargedImage {
    max-width: 80%;
  }

   /* text */
   .hero_photo_label,
   .typography_settings {
     font-size: 1.2vw;
   }
   .link_typography {
     font-size: 1.2vw;
   }
   .user_name {
     font-size: 2.8vw;
   }
}

/* Extra large screens, TV */
@media screen and (min-width: 1201px) and (max-width: 2559px) {
  /* PARENT CONTAINERS */
  .container {
    max-width: 85vw;
  }
  .user_details_camera_settings_location_container {
    max-width: inherit;
    resize: none;
  }
  .thumb_photos_container {
    max-width: inherit;
  }

  /* CHILD CONTAINERS */

  .user_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    /* guide only */

  }
  .camera_location_settings {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    /* guide only */

  }

  .user_name {
    font-size: 2vw;
  }

  .links {
  }

  .instagram {
    margin: 2%;
  }

  .photo_link {
    margin: 2%;
  }
  .user_link {
    margin: 2%;
  }
  .portfolio_link{
    margin: 2%;
  }


  /* HERO PHOTO CONTAINER AND THE ACTUAL HERO PHOTO */
  #enlargedImage {
    max-width: 80%;
    
  }

  /* text */
  .hero_photo_label,
  .typography_settings {
    font-size: 0.9vw;
  }
  .link_typography {
    font-size: 0.8vw;
  }
}

/* 3k, 4K and up */
@media screen and (min-width: 2560px) {
  /* PARENT CONTAINERS */
  .container {
    max-width: 120vw;
  }
  .user_details_camera_settings_location_container {
    max-width: inherit;
    resize: none;
  }
  .thumb_photos_container {
    max-width: inherit;
  }

  /* CHILD CONTAINERS */

  .user_settings {
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    /* guide only */

  }
  .camera_location_settings {
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    /* guide only */

  }

  .user_name {
    font-size: 3.2vw;
  }

  .links {
  }

  .instagram {
    margin: 3.8%;
  }

  .photo_link {
    margin: 3.8%;
  }
  .user_link {
    margin: 3.8%;
  }

  /* HERO PHOTO CONTAINER AND THE ACTUAL HERO PHOTO */

  
  #enlargedImage {  
    max-width: 80%;
  }

  /* text */
  .hero_photo_label,
  .typography_settings {
    font-size: 1.1vw;
  }
  .link_typography {
    font-size: 1.1vw;
  }
}